# Database Configuration
DATABASE_URL=

# JWT Configuration
JWT_SECRET=
JWT_EXPIRES_IN=7d

# Server Configuration
PORT=3001
FRONTEND_URL=http://localhost:3000

# SMTP / Email Configuration
SMTP_USER=
SMTP_PASS=
OTP_JWT_SECRET=

# Redis Configuration
REDIS_URL=redis://localhost:6379


